@font-face {
    font-family: 'Roboto Regular';
    src: url('fonts/Roboto-Regular.ttf');
}
@font-face {
    font-family: 'Roboto Medium';
    src: url('fonts/Roboto-Medium.ttf');
}
@font-face {
    font-family: 'Roboto Bold';
    src: url('fonts/Roboto-Bold.ttf');
}
@font-face {
    font-family: 'Roboto Thin';
    src: url('fonts/Roboto-Thin.ttf');
}
@font-face {
    font-family: 'Montserrat Bold';
    src: url('fonts/Montserrat-Bold.otf');
}
@font-face {
    font-family: 'Montserrat Regular';
    src: url('fonts/Montserrat-Regular.otf');
}

:root {
    --color-main: #0e1a35;
    --color-grey: #8492af;
    --color-skyblue: #517ff5;
}


html {
    font-family: 'Roboto Regular';
    font-size: 16px;
    background: var(--color-main);
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
}

a {
    cursor: pointer;
    text-decoration: none;
    color: #ffffff;
}

li {
    list-style-type: none;
}

h2, h1 {
    font-weight: normal;
}

/*------------Header start-----------*/

.header {
    min-height: 110vh;
    background: url('images/Grid.png'),
                url('images/Cardio.png');
    background-repeat: no-repeat, no-repeat;
    background-position: top center, center;
    background-size: 100%, 100%;
    display: flex;
    flex-direction: column;
    place-items: center;
}

.head {
    min-width: 85%;
    display: flex;
    margin: 5.6vh auto;
    justify-content: space-between;
}

.home {
    padding-top: 10vh;
    min-height: 27vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.logo {
    max-width: 10.5vw;
}

.menu {
    display: flex;
    align-items: center;
}

.menu li {
    margin-right: 2.5vw;
}

.menu li a:hover,
.menu li a:focus {
    transition: 0.5s;
    color: var(--color-skyblue);
}

#login {
    padding: 1.2vh 2.2vw;
    border: solid var(--color-skyblue) 1px;
    border-radius: 2.2vw;
    color: var(--color-skyblue);
}

.headings p {
    padding-top: 1.5vh;
    font-size: 2rem;
    color: var(--color-grey);
    text-align: center;
}

.title {
    font-family: 'Roboto Thin';
    font-size: 2.75rem;
}

.lt {
    color: white;
}

.dk {
    color: #0e1a35;
}

.button {
    text-align: center;
}

.gs button {
    color: white;
    font-family: 'Roboto Bold';
    background-color: #5584ff;
    border: none;
    border-radius: 2.7vw;
    padding: 1.7vh 2.7vw;
    font-size: 1em;
}

.dashboard img {
    max-width: 40em;
    object-fit: cover;
}

.dashboard {
    display: block;
    top: 15vh;
    position: relative;
    overflow-y: visible;
    box-shadow: 2px 2px 7px 0px rgba(0, 0, 0, 0.35),
                0px 0px 80px 0px rgba(039, 071, 144, 0.46); 
    z-index: 150;
}

/*------------Header end-----------*/
/*------------Features start-----------*/

.features {
    min-height: 80vh;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.wrapper {
   max-width: 85%; 
}


.graphs {
    display: grid;
    grid-template-columns: repeat(3, minmax(150px, 1fr));
    grid-gap: 0 6.25rem;
    grid-template-areas: 
        "icon1 icon2 icon3"
        "heads1 heads2 heads3"
        "SeeMore1 SeeMore2 SeeMore3";
}

.item1 {
    grid-area: icon1;
}
.item2 {
    grid-area: heads1;
}
.item3 {
    grid-area: SeeMore1;
}
.item6 {
    grid-area: SeeMore2;
}
.item9 {
    grid-area: SeeMore3;
}

.item4 {
    grid-area: icon2;
}

.item7 {
    grid-area: icon3;
}

.gritem {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: visible;
}

.grtitle {
    font-family: "Roboto Bold";
    color: var(--color-main);
    font-size: 1.3333rem;
    padding: 1em 2em;
    overflow-wrap: normal;
}

.stripe {
    display: flex;
    align-items: center;
}

.stripe:before,
.stripe:after {
    width: 12rem;
    content: '';
    display: block;
    height: 1px;
    background: #dadee7;
}

.simple {
   color: var(--color-grey);
   line-height: 1.3rem;
}

.ft {
    text-align: center;
}

.icon img {
    object-fit: fill;
    margin: 1em 4.5em;
}

.gritem button {
    font-family: "Roboto Bold";
    padding: 1rem 5.3rem; 
    border: 1px solid #dadee7;
    border-radius: 2.2vw;
    background-color: #ffffff;
    margin: 3em auto;
}

.gritem button a {
    color: var(--color-main);
}

/*------------Features end-----------*/
/*------------All you need start-----------*/

.allYouNeed {
    min-height: 80vh;
    background-color: #f6f7fa;
    background-image: linear-gradient(to bottom, rgb(255,255,255) 0%, rgb(246,247,250) 20%);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-top: 10vh;
}

.ayn {
    max-width: 90vw;
    display: flex;
    overflow: hidden;
}

.screenimg img {
    object-fit: contain;
    width: 62vw;
}

.content {
    min-width: 44%;
    padding: 4rem;
    box-sizing: border-box;
}

.dk {
    padding-bottom: 0.6rem;
}

.content .simple {
    padding: 0.6rem 3rem 0.6rem 0;
}

.fa-check-circle {
    padding-right: 5px;
}

.checks {
    color: #5886ff;
    padding: 10px 0;
}

/*------------All you need end-----------*/
/*------------Drag & Drop start-----------*/

.drag-drop {
    max-height: 70vh;
    background: url('images/Grid.png'),
                url('images/Cardio.png');
    background-repeat: no-repeat, no-repeat;
    background-position: 0 10%, center center;
    background-size: 100%, 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.drag {
    display: flex;
    place-items: center;
    margin: 8rem auto;
}

.items {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-right: 10rem;   
}

#inP {
    margin-right: 3rem;
}

.itemimg img {
    width: 100%;
    box-shadow: 0px 0px 80px 0px rgba(039, 071, 144, 0.46); 
    z-index: 150;
}

#prog {
    position: relative;
    height: 4.7rem;
}

.dragging {
    width: 100%;
    z-index: 150;
    position: absolute;
    top: 1.3rem;
    left: 1.3rem;
    box-shadow: 0px 0px 80px 0px rgba(039, 071, 144, 0.46),
                0px 0px 76px 0px rgba(0, 0, 0, 0.67); 
}

.legend {
    color: white;
    position: relative;
    margin: 1.9rem auto;
}

.count {
    display: inline-block;
    color: var(--color-grey);  
}

.hand {
    width: 1.6rem;
    height: 1.8rem;
    position: absolute;
    top: 114%;
    left: 98%;
    background-color: rgba(132, 146, 175, 0.2);
    box-shadow: rgba(132, 146, 175, 0.2) inset 0 0 0 5px,
                rgba(132, 146, 175, 0.2) 0 0 0 1rem,
                rgba(132, 146, 175, 0.2) 0 0 0 1.4rem;
    border-radius: 50%;
    z-index: 160;
}

#hand {
    width: 100%;
    display: block;
    object-fit: cover;
}

#arrow-one:after {
    font: normal normal normal 14px/1 FontAwesome;
    content: "\f105";
    position: absolute;
    font-size: 1.5rem;
    color: var(--color-grey);
    display: inline-block;
    left: 95%;
}

#drop {
    font-family: 'Roboto Medium';
    text-align: center;
    font-size: 1.15rem;
    margin-top: 5px;
    padding: 24px 40px;
    border: dashed 1px var(--color-grey);
    color: var(--color-grey);
}

.caption {
    max-width: 30vw;
}

.caption .lt {
    margin: 2.6rem auto;
}

.dd {
    margin-bottom: 2.1rem;
}

[data-arrows="arrow"]::before {
    font-size: 22px;
    color: #a5aec3;
    display: block;
    width: auto;
    height: 13px;
    margin-right: 1rem;
    border: solid 1px #a5aec3;
    border-radius: 50%;
    padding: 5px 12px 12px 10px;
}

[class*="-right"]::before {
    padding-left: 12px;
    padding-right: 10px;
}

/*------------Drag & Drop end-----------*/
/*------------PSD start-----------*/

.psd {
    min-height: 110vh;
    background-color: #f6f7fa;
    background-image: linear-gradient(to bottom, rgb(246,247,250) 90%, rgb(255,255,255) 100%);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.psd-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5rem auto;
}

.dk {
    margin-bottom: 2.5rem;
}

.psd_header {
    text-align: center;
}

.psd_caption {
    max-width: 58vw;
    text-align: center;
    margin-bottom: 4rem;
}

.layout img {
    width: 61rem;
    height: 32rem;
}

.pointer {
    line-height: 3rem;
    font-family: 'Roboto Bold';
    font-size: 1.3rem;
    color: var(--color-main);
    border-bottom: solid 2px #5584ff; 
}

.pointer_wrapper {
    min-width: 52%;
    position: absolute;
}

.lower { 
    left: 57%;
    top: 54%;
}

.upper { 
    top: 10%;
    left: -7%;
}

.layout {
    background-color: #f6f7fa;
    position: relative;
}

.upper::after,
.lower::before {
    width: 25px;
    height: 25px;
    content: "";
    border-radius: 50%;
    box-shadow: 0 0 0 8px rgba(85, 132, 255, 0.6);
    background-color: rgb(85, 132, 255);
    position: absolute; 
}

.upper::after {
    top: 72%;
    left: 100%;
}

.lower::before {
    left: -4.5%;
    top: 27%;
}

.bot {
    text-align: end;
}

.ps {
    margin-top: 1.5rem;
    margin-left: 50%;
    text-align: end;
    max-width: 50%;
}

/*------------PSD end-----------*/
/*------------Pricing start-----------*/

.pricing {
    background: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.price {
    text-align: center;
}

#price a {
    font-family: 'Roboto Bold';
    color: var(--color-main);
    font-size: 4rem;
}

.perm {
    font-family: 'Roboto Regular';
    font-size: 1.3rem;
    color: var(--color-grey);
}

.pritem {
    box-shadow: 1px 1px 59.4px 0.6px rgba(14, 26, 53, 0.15);
    z-index: 140;
}

.pritem h3 {
    text-transform: uppercase;
    color: var(--color-main);
    font-size: 1.3rem;
}

.pritem_wrapper {
    padding: 2.7rem 3.3rem;
}

.prc {
    position: relative;
}

.prc::before {
    font: normal normal normal 14px/1 FontAwesome;
    position: absolute;
    font-size: 1.2rem;
    color: var(--color-grey);
    display: inline-block;
    left: -10%;
}

.exclus::before {
    color: #0e1a35;
    content: "\f057";
}

.success::before {
    color: #779fff;
    content: "\f058";
}

.value {
    font-size: 2.2rem;
    align-items: center;
}

.costs {
    display: flex;
    justify-content: space-around;
}

/*------------Pricing end-----------*/
/*------------Footer start-----------*/
/*------------Footer end-----------*/