@font-face {
    font-family: 'Roboto Regular';
    src: url('fonts/Roboto-Regular.ttf');
}
@font-face {
    font-family: 'Roboto Medium';
    src: url('fonts/Roboto-Medium.ttf');
}
@font-face {
    font-family: 'Roboto Bold';
    src: url('fonts/Roboto-Bold.ttf');
}
@font-face {
    font-family: 'Roboto Thin';
    src: url('fonts/Roboto-Thin.ttf');
}
@font-face {
    font-family: 'Montserrat Bold';
    src: url('fonts/Montserrat-Bold.otf');
}
@font-face {
    font-family: 'Montserrat Regular';
    src: url('fonts/Montserrat-Regular.otf');
}

:root {
    --color-main: #0e1a35;
    --color-grey: #8492af;
    --color-skyblue: #517ff5;
}


html {
    font-family: 'Roboto Regular';
    font-size: 18px;
    background: var(--color-main);
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
}

a {
    cursor: pointer;
    text-decoration: none;
    color: #ffffff;
}

li {
    list-style-type: none;
}

h2, h1 {
    font-weight: normal;
}

/*------------Header start-----------*/

.header {
    max-height: 110%;
    background: url('images/Grid.png'),
                url('images/Cardio.png');
    background-repeat: no-repeat, no-repeat;
    background-position: top center, center;
    background-size: 100%, 100%;
    display: flex;
    flex-direction: column;
    place-items: center;
}

.collapsed {
    display: none;
}

.head {
    min-width: 85%;
    display: flex;
    margin: 5.6vh auto;
    justify-content: space-between;
}

.home {
    padding-top: 10vh;
    min-height: 27vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.logo {
    max-width: 10.5vw;
}

.menu {
    display: flex;
    align-items: center;
}

.menu li {
    margin-right: 2.5vw;
}

.menu li a:hover,
.menu li a:focus {
    transition: 0.5s;
    color: var(--color-skyblue);
}

#login {
    padding: 1.2vh 2.2vw;
    border: solid var(--color-skyblue) 1px;
    border-radius: 2.2vw;
    color: var(--color-skyblue);
}

.headings p {
    padding-top: 1.5vh;
    font-size: 2rem;
    color: var(--color-grey);
    text-align: center;
}

.title {
    font-family: 'Roboto Thin';
    font-size: 2.75rem;
}

.lt {
    color: white;
}

.dk {
    color: #0e1a35;
}

.button {
    text-align: center;
}

.gs button {
    color: white;
    font-family: 'Roboto Bold';
    background-color: #5584ff;
    border: none;
    border-radius: 2.7vw;
    padding: 1.5vh 3.1vw;
    font-size: 1em;
}

.dashboard img {
    max-width: 40em;
    object-fit: cover;
}

.dashboard {
    display: block;
    top: 15vh;
    position: relative;
    overflow-y: visible;
    box-shadow: 2px 2px 7px 0px rgba(0, 0, 0, 0.35),
                0px 0px 80px 0px rgba(039, 071, 144, 0.46); 
    z-index: 150;
}

/*------------Header end-----------*/
/*------------Features start-----------*/

.features {
    min-height: 80vh;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.wrapper {
   max-width: 85%; 
}


.graphs {
    display: grid;
    grid-template-columns: repeat(3, minmax(150px, 1fr));
    grid-gap: 0 6.25rem;
    grid-template-areas: 
        "icon1 icon2 icon3"
        "heads1 heads2 heads3"
        "SeeMore1 SeeMore2 SeeMore3";
}

.item1 {
    grid-area: icon1;
}
.item2 {
    grid-area: heads1;
}
.item3 {
    grid-area: SeeMore1;
}
.item6 {
    grid-area: SeeMore2;
}
.item9 {
    grid-area: SeeMore3;
}

.item4 {
    grid-area: icon2;
}

.item7 {
    grid-area: icon3;
}

.gritem {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: visible;
}

.grtitle {
    font-family: "Roboto Bold";
    color: var(--color-main);
    font-size: 1.3333rem;
    padding: 1em 2em;
    overflow-wrap: normal;
}

.stripe {
    display: flex;
    align-items: center;
}

.stripe:before,
.stripe:after {
    width: 14rem;
    content: '';
    display: block;
    height: 1px;
    background: #dadee7;
}

.simple {
   color: var(--color-grey);
   line-height: 1.3rem;
}

.ft {
    text-align: center;
}

.icon img {
    object-fit: fill;
    margin: 1em 4.5em;
}

.gritem button {
    font-family: "Roboto Bold";
    padding: 1rem 5.3rem; 
    border: 1px solid #dadee7;
    border-radius: 2.2vw;
    background-color: #ffffff;
    margin: 3em auto;
}

.gritem button a {
    color: var(--color-main);
}

/*------------Features end-----------*/
/*------------All you need start-----------*/

.allYouNeed {
    min-height: 80%;
    background-color: #f6f7fa;
    background-image: linear-gradient(to bottom, rgb(255,255,255) 0%, rgb(246,247,250) 20%);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-top: 10vh;
}

.ayn {
    max-width: 90vw;
    display: flex;
    overflow: hidden;
}

.ayn-wrapper {
    margin: 3rem 0;
    max-width: 90vw;
    display: flex;
    overflow: hidden;
}

.screenimg img {
    object-fit: contain;
    width: 62vw;
}

.content {
    min-width: 44%;
    padding: 1rem;
    box-sizing: border-box;
}

.content .simple {
    padding: 0.6rem 3rem 0.6rem 0;
}

.fa-check-circle {
    padding-right: 5px;
}

.checks {
    color: #5886ff;
    padding: 10px 0;
}

/*------------All you need end-----------*/
/*------------Drag & Drop start-----------*/

.drag-drop {
    max-height: 75%;
    background: url('images/Grid.png'),
                url('images/Cardio.png');
    background-repeat: no-repeat, no-repeat;
    background-position: 0 3%, center center;
    background-size: 100%, 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.drag {
    display: flex;
    place-items: center;
    margin: 8rem auto;
}

.items {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-right: 10rem;   
}

#inP {
    margin-right: 3rem;
}

.itemimg img {
    width: 100%;
    box-shadow: 0px 0px 80px 0px rgba(039, 071, 144, 0.46); 
    z-index: 150;
}

#prog {
    position: relative;
    height: 4.5rem;
}

.dragging {
    width: 100%;
    z-index: 150;
    position: absolute;
    top: 1.3rem;
    left: 1.3rem;
    box-shadow: 0px 0px 80px 0px rgba(039, 071, 144, 0.46),
                0px 0px 76px 0px rgba(0, 0, 0, 0.67); 
}

.legend {
    color: white;
    position: relative;
    margin: 1.9rem auto;
}

.count {
    display: inline-block;
    color: var(--color-grey);  
}

.hand {
    width: 1.6rem;
    height: 1.8rem;
    position: absolute;
    top: 102%;
    left: 98%;
    background-color: rgba(132, 146, 175, 0.2);
    box-shadow: rgba(132, 146, 175, 0.2) inset 0 0 0 5px,
                rgba(132, 146, 175, 0.2) 0 0 0 1rem,
                rgba(132, 146, 175, 0.2) 0 0 0 1.4rem;
    border-radius: 50%;
    z-index: 160;
}

#hand {
    width: 100%;
    display: block;
    object-fit: cover;
}

#arrow-one:after {
    font: normal normal normal 14px/1 FontAwesome;
    content: "\f105";
    position: absolute;
    font-size: 1.5rem;
    color: var(--color-grey);
    display: inline-block;
    left: 95%;
}

#drop {
    font-family: 'Roboto Medium';
    text-align: center;
    font-size: 1.15rem;
    margin-top: 0.4rem;
    padding: 1.3rem 2.2rem;
    border: dashed 1px var(--color-grey);
    color: var(--color-grey);
}

.caption {
    max-width: 30vw;
}

.caption .lt {
    margin: 2.6rem auto;
}

.dd {
    margin-bottom: 2.1rem;
}

[data-arrows="arrow"]::before {
    font-size: 22px;
    color: #a5aec3;
    display: block;
    width: auto;
    height: 13px;
    margin-right: 1rem;
    border: solid 1px #a5aec3;
    border-radius: 50%;
    padding: 5px 12px 12px 10px;
}

[class*="-right"]::before {
    padding-left: 12px;
    padding-right: 10px;
}

/*------------Drag & Drop end-----------*/
/*------------PSD start-----------*/

.psd {
    max-height: 110%;
    background-color: #f6f7fa;
    background-image: linear-gradient(to bottom, rgb(246,247,250) 90%, rgb(255,255,255) 100%);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.psd-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5rem auto;
}

.dk {
    margin-bottom: 2.5rem;
}

.psd_header {
    text-align: center;
}

.psd_caption {
    max-width: 58vw;
    text-align: center;
}

.layout img {
    width: 61rem;
    height: 32rem;
}

.pointer {
    line-height: 3rem;
    font-family: 'Roboto Bold';
    font-size: 1.3rem;
    color: var(--color-main);
    border-bottom: solid 2px #5584ff; 
}

.pointer_wrapper {
    min-width: 52%;
    position: absolute;
}

.lower { 
    left: 57%;
    top: 54%;
}

.upper { 
    top: 10%;
    left: -7%;
}

.layout {
    background-color: #f6f7fa;
    position: relative;
}

.upper::after,
.lower::before {
    width: 25px;
    height: 25px;
    content: "";
    border-radius: 50%;
    box-shadow: 0 0 0 8px rgba(85, 132, 255, 0.6);
    background-color: rgb(85, 132, 255);
    position: absolute; 
}

.upper::after {
    top: 72%;
    left: 100%;
}

.lower::before {
    left: -4.5%;
    top: 27%;
}

.bot {
    text-align: end;
}

.ps {
    margin-top: 1.5rem;
    margin-left: 50%;
    text-align: end;
    max-width: 50%;
}

/*------------PSD end-----------*/
/*------------Pricing start-----------*/

.pricing {
    background: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.price {
    text-align: center;
}

#price a {
    font-family: 'Roboto Bold';
    color: var(--color-main);
    font-size: 4rem;
}

#price {
    margin: 2.5rem auto;
}

.perm {
    font-family: 'Roboto Regular';
    font-size: 1.3rem;
    color: var(--color-grey);
}

.pritem {
    box-shadow: 1px 1px 59.4px 0.6px rgba(14, 26, 53, 0.15);
    z-index: 140;
}

.pritem h3 {
    font-weight: 300;
    text-transform: uppercase;
    color: var(--color-main);
    font-size: 1.3rem;
}

.pritem_wrapper {
    padding: 2rem 3.3rem;
}

.prc {
    position: relative;
    line-height: 2;
    align-items: center;
    display: flex;
}

.prc i {
    font-size: 1.4rem;
}

.exclus i {
    color: #f83c7b;
    margin-right: 10px;
}

.success i {
    color: #5284ff;
    margin-right: 5px;
}

.value {
    font-size: 2.2rem;
    align-items: center;
}

.costs {
    display: flex;
    justify-content: space-around;
}

.prices_foot {
    margin: 5.5rem auto;
    max-width: 63%;
}

.pf {
    text-align: center;
    line-height: 1.7;
    margin-bottom: 3.8rem;
}

#jn {
    color: white;
    font-family: 'Roboto Bold';
    background-color: #5584ff;
    border: none;
    border-radius: 2.7vw;
    padding: 1.5vh 3.1vw;
    font-size: 1em;
}

.button_stripe_wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

.button_stripe_wrapper::before,
.button_stripe_wrapper::after {
    width: 11rem;
    content: '';
    display: block;
    height: 1px;
    background: #dadee7;
}

.button_stripe_wrapper::after {
    margin-left: 1.55rem;
}

.button_stripe_wrapper::before {
    margin-right: 1.55rem;
}
/*------------Pricing end-----------*/
/*------------Footer start-----------*/

.footer {
    display: flex;
    justify-content: center;
}

.footer_wrapper {
    min-width: 85%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 3.8rem auto;
}

.footer_copywright p {
    color: var(--color-grey);
}

.footer_menu {
    display: flex;
}

.footer_menu li +  li {
    margin-left: 3rem;
}

.footer_menu a {
    color: var(--color-grey);
}

.socials a + a {
    margin-left: 1rem;
}
/*------------Footer end-----------*/

@media screen and (max-width: 1300px) {

    html {
        font-size: 14px;
    }
}

@media screen and (max-width: 1200px) {

    html {
        font-size: 12px;
    }

    .header {
        max-height: 90vh;
    }

    .head {
        margin: 3.6vh auto;
        max-height: 15vh;
    }

    .dashboard {
        top: 10vh;
    }
    
    .home {
        padding-top: 6vh;
    }

    .psd {
        max-height: 80vh;
    }

    .features {
        min-height: 60vh;
    }

    .allYouNeed {
        min-height: 60vh;
        padding-top: 0;
    }

    .icon img {
        width: 50px;
        height: 50px;
    }

    .upper::after {
        top: 62%;
    }
    
    .lower::before {
        top: 24%;
    }
}

@media screen and (max-width: 991px) {

    html {
        font-size: 10px;
    }

    .header {
        max-height: 80vh;
    }

    .head {
        margin: 1.6vh auto;
        max-height: 5vh;
    }

    .dashboard {
        top: 8vh;
    }
    
    .home {
        padding-top: 6vh;
        min-height: 18vh;
    }

    .psd {
        max-height: 80vh;
    }

    .features {
        min-height: 50vh; 
        
    }

    .allYouNeed {
        min-height: 50vh;
    }

    .icon img {
        width: 50px;
        height: 50px;
    }

    .graphs {
        display: flex;
        flex-direction: column;
        margin-top: 12vh;
    }

    .ft {
        max-width: 60%;
    }

    .stripe::before,
    .stripe::after {
        display: none;
    }
    
    .item4::before,
    .item6::after {
        width: 80%;
        content: '';
        display: block;
        height: 1px;
        background: #dadee7;                   
    }

    .drag {
        flex-direction: column;  
    }

    .caption {
        margin-top: 10%;
        max-width: 90vw;
    }

    .items {
        margin-right: 0;
    }

    .itemimg img, .dragging {
        width: 70%;
    }

    .hand {
        top: 161%;
        left: 87%;
    }

    #drop {
        width: 57%;
        padding: 2.3rem 2.2rem;
    }

    #inP {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-right: 0;
    }

    .legend {
        width: 71%;
        margin: 1.9rem 0;
    }

    #done .legend {
        margin: 1.9rem auto;
    }

    .itemimg, .doneul {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .dragging {
        left: 8.2rem;
    }

    .drag-drop {
        background-position: 0 -50%, center center;
    }

    #done, #inP {
        min-height: 27vh;
    }

    .upper::after {
        top: 60%;
    }
    
    .lower::before {
        top: 22%;
    }
}

@media screen and (max-width: 768px) {

    html {
        font-size: 8px;
    }

    .logo {
        max-width: 15.5vw;
    }

    .collapsed {
        display: block;
        font-size: 18px;
        color: var(--color-grey);
    }

    #btn-menu {
        display: none;
    }

    .menu {
        display: none;
    }

    .costs {
        flex-direction: column;
        align-items: center;
    }

    .pritem {
        font-size: 16px;
        max-width: 90%;
    }

    .pritem h3 {
        font-size: 2rem;
    }

    #price a {
        font-size: 8rem;
    }

    #jn, #login, .gs button {
        padding: 1rem 3.1vw;
    }

    .header {
        max-height: 60vh;
    }

    .head {
        margin: 1.6vh auto;
        max-height: 3vh;
    }

    .dashboard {
        top: 6vh;
    }
    
    .home {
        padding-top: 3vh;
        min-height: 12vh;
    }

    .allYouNeed {
        min-height: 50vh;
        justify-content: center;
    }

    .ayn-wrapper {
        flex-direction: column;
        margin: 1rem 0;
    }

    .screenimg {
        display: flex;
        justify-content: flex-end;
    }

    [data-arrows="arrow"]::before {
        font-size: 18px;
        padding: 5px 9px 8px 8px;
    }
    
    .layout {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .caption {
        margin-top: 0;
    }

    .layout img {
        margin-top: 2rem;
    }

    .pointer_wrapper {
        position: relative;
        min-width: 90%;
        line-height: 2rem;
    }

    .upper::before,
    .lower::before {
        display: inline-block;
        width: 15px;
        height: 15px;
        content: "";
        border-radius: 50%;
        box-shadow: 0 0 0 6px rgba(85, 132, 255, 0.6);
        background-color: rgb(85, 132, 255);
        position: absolute;
    }   

    .pointer {
        font-size: 16px;
    }

    .upper {
        left: 10%;
        top: 0%;
        order: 1;
    }

    .lower {
        left: 10%;
        top: 0%;
        order: 2;
    }

    .upper::before,
    .lower::before {
        left: -8%;
        top: 65%;
    }

    .ps {
        display: none;
    }

    .bot {
        text-align: start;
    }

    .upper::after {
        display: none;   
    }

    .price {
        margin-top: 10vh;
    }

}

@media screen and (max-width: 480px) {

    .prices_foot {
        max-width: 95%;
    }

    .items {
        flex-direction: column;
    }

    .hand {
        top: 195%;
        left: 86%;
    }

    .dragging {
        left: 9.2rem;
    }

    #drop {
        padding: 2.7rem 3rem;
    }

    .caption {
        text-align: center;
    }

    .layout img {    
        width: 300px;
        height: 150px;
    }

    .screenimg img {
        width: 100vw;
    }

    .pointer_wrapper {
        min-width: 80%;
    }

    .footer_wrapper {
        flex-direction: column;
    }

    .footer_menu {
        margin-top: 2rem;
    }

}

@media screen and (max-width: 320px) {

    .lt {
        margin: 0 20px;
        text-align: center;
    }

    .gs button {
        padding: 0.5rem 5.1vw;
    }

    .dashboard img {
        max-width: 70vw;
    }

    .pritem {
        font-size: 10px;
    }
    
    .layout img {    
        width: 200px;
        height: 100px;
    }

    .upper::before,
    .lower::before {
        width: 10px;
        height: 10px;
        left: -12%;
        top: 80%;
    }   

    .pointer_wrapper {
        min-width: 85%;
    }

    .button_stripe_wrapper::before,
    .button_stripe_wrapper::after {
        width: 8rem;
    }   

    .dragging {
        left: 7rem;
    }

    .hand {
        left: 87%;
        top: 136%;
    }

    #drop {
        padding: 2rem 2rem;
    }
}