/* ======== Mixins ======== */
/* ======== / Mixins ======== */
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
}

a {
  color: white;
  text-decoration: none;
}

li {
  list-style-type: none;
}

.section-outer {
  width: 100%;
  background: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

.section-inner {
  width: 86%;
  height: 100%;
  max-width: 1170px;
}

.section-inner__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section-inner__section-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header {
  width: 100%;
  height: 1150px;
  background: url("../images/backpic.png") no-repeat;
  background-position: 50% 0, 769px 0;
}

.header__topPanel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 90%;
}

.header__topPanel__logo_img {
  width: 100%;
}

.header__topPanel__menu {
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 40px;
          column-gap: 40px;
  font-size: 1.08rem;
}

.header__topPanel__menu_item:hover a {
  -webkit-transition: 0.2s;
  transition: 0.2s;
  color: #90d23d;
}

.header__countdown {
  width: 83%;
  max-width: 975px;
  border: 1px #90d23d solid;
  border-radius: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  text-transform: uppercase;
  color: white;
  font-size: 1.8rem;
  font-family: 'Roboto Slab', sans-serif;
  text-transform: uppercase;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 80px;
}

.header__countdown__item {
  text-align: center;
}

.header__countdown__item_name {
  line-height: 0.8;
  padding-bottom: 1.9rem;
}

.header__countdown__item_num {
  line-height: 0.8;
  padding: 1.9rem 0;
  font-size: 9.3rem;
}

.header__countdown .dpoint {
  height: 195px;
  font-size: 9.3rem;
  line-height: 1.1;
}

.header__botPanel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 90%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 75px;
          column-gap: 75px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__botPanel__greetWrap {
  width: 530px;
  max-width: 50%;
  padding-top: 290px;
}

.header__botPanel__greetWrap_header {
  font-size: 3.6rem;
  font-weight: 700;
  line-height: 0.8;
}

.header__botPanel__greetWrap_para {
  color: #242424;
  margin-top: 1.55rem;
}

.header__botPanel__greetWrap_para a {
  color: blue;
}

.header__botPanel__signForm {
  width: 432px;
  max-width: 50%;
  background-color: #fff;
  padding: 2rem;
  border: 1px solid #dbdada;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.65);
          box-shadow: 0 1px 2px rgba(0, 0, 0, 0.65);
}

.header__botPanel__signForm_header {
  font-size: 2.1rem;
  text-align: center;
  padding-bottom: 1.35rem;
  color: #242424;
}

.header__botPanel__signForm__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 20px;
}

.header__botPanel__signForm__form_input {
  line-height: 0.8;
  font-size: 1.35rem;
  padding: 1.3rem 1.2rem;
  border: 1px soild #bebebe;
  border-radius: 5px;
  color: #6c6c6c;
}

.header__botPanel__signForm__form_input:focus, .header__botPanel__signForm__form_input:active {
  border-color: #90d23d;
}

.header__botPanel__signForm__form_button {
  margin: 1.35rem 0;
  color: white;
  font-size: 1.55rem;
  border-radius: 5px;
  border: none;
  line-height: 0.8;
  padding: 1.3rem 1.2rem;
  background-color: #90d23d;
  cursor: pointer;
}

.header__botPanel__signForm_comment {
  text-align: center;
  margin: 0 auto;
  color: #6c6c6c;
  font-size: 1.1rem;
  max-width: 60%;
}

.section-1 {
  max-height: 485px;
  width: 100%;
  padding: 4rem 0;
}

.section-1__listWrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 65px;
          column-gap: 65px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.section-1__listWrapper__item {
  max-width: 305px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #242424;
}

.section-1__listWrapper__item_name {
  font-size: 2.5rem;
  margin: 1.3rem 0;
}

.section-1__listWrapper__item_img {
  max-width: 200px;
  max-height: 200px;
  margin: 1.2rem 0;
}

.section-1__listWrapper__item_text {
  text-align: center;
}

.section-2 {
  max-height: 550px;
  width: 100%;
  padding: 4rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section-2__table {
  width: 90%;
}

.section-2__table__row, .section-2__table__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  line-height: 0.8;
}

.section-2__table__row_data, .section-2__table__header_data {
  padding: 25px 50px;
}

.section-2__table__row_data:first-child, .section-2__table__header_data:first-child {
  max-width: 220px;
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
  text-align: center;
}

.section-2__table__row_data:nth-child(2), .section-2__table__header_data:nth-child(2) {
  -webkit-box-flex: 7;
      -ms-flex: 7;
          flex: 7;
}

.section-2__table__row_data:last-child, .section-2__table__header_data:last-child {
  text-align: center;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.section-2__table__header {
  background-color: #90d23d;
  color: white;
  font-size: 2.1rem;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.section-2__table__header_data {
  text-align: center;
}

.section-2__table__header_data:nth-child(2) {
  text-align: left;
}

.section-2__table__row {
  color: white;
  font-size: 1.4rem;
}

.section-2__table__row i {
  font-size: 2rem;
  cursor: pointer;
}

.section-2__table__row:nth-of-type(even) {
  background-color: #373737;
}

.section-2__table__row:nth-of-type(odd) {
  background-color: #4b4d4f;
}

.section-2__table__row:last-child {
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

.section-2__table .icon {
  padding: 10px 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.section-2__underText {
  width: 80%;
  margin: 40px 0;
  color: #242424;
  text-align: center;
}

.section-6__midWrap_img {
  width: 100%;
}
