/* ======== Mixins ======== */
/* ======== / Mixins ======== */
* {
  margin: 0;
  padding: 0;
}

html {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
}

a {
  color: white;
  text-decoration: none;
}

li {
  list-style-type: none;
}

.section-outer {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  background: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

.section-inner {
  width: 86%;
  height: 100%;
  max-width: 1170px;
}

.header {
  width: 100%;
  height: 1150px;
  background: url("../images/backpic.png") no-repeat;
  background-position: 50% 0, 769px 0;
}

.header__topPanel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 43px 0;
}

.header__topPanel__logo_img {
  width: 100%;
}

.header__topPanel__menu {
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 40px;
          column-gap: 40px;
  font-size: 1.08rem;
}

.header__topPanel__menu_item:hover a {
  -webkit-transition: 0.2s;
  transition: 0.2s;
  color: #90d23d;
}

.header__countdown {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0 auto;
  max-width: 975px;
  border: 1px #90d23d solid;
  border-radius: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  text-transform: uppercase;
  color: white;
  font-size: 1.8rem;
  font-family: 'Roboto Slab', sans-serif;
  font-weight: thin;
  text-transform: uppercase;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 80px;
}

.header__countdown__item {
  text-align: center;
}

.header__countdown__item_name {
  font-family: 'Roboto Slab', sans-serif;
  font-weight: thin;
  text-transform: uppercase;
  line-height: 0.8;
  padding-bottom: 1.9rem;
}

.header__countdown__item_num {
  line-height: 0.8;
  padding: 1.9rem 0;
  font-size: 9.3rem;
}

.header__countdown .dpoint {
  height: 195px;
  font-size: 9.3rem;
  line-height: 1.1;
}

.section-6__midWrap_img {
  width: 100%;
}
