@font-face {
    font-family: 'Myriad Pro Regular';
    src: url('fonts/MyriadPro-Regular.eot');
    src: url('fonts/MyriadPro-Regular.eot?#iefix') format('embedded-opentype'),
    url('fonts/MyriadPro-Regular.woff') format('woff'),
    url('fonts/MyriadPro-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    }

@font-face {
    font-family: 'Gotham Bold';
    src: url('fonts/Gotham-Bold.otf');
    font-weight: normal;
    font-style: normal;
 }   

@font-face {
    font-family: 'Gotham Medium';
    src: url('fonts/Gotham-Medium.otf');
    font-weight: normal;
    font-style: normal;
 }   

@font-face {
    font-family: 'Roboto Bold';
    src: url('fonts/Roboto-BoldCondensed.ttf');
}

@font-face {
    font-family: 'Gotham Book';
    src: url('fonts/Gotham-Book.otf');
    font-weight: normal;
    font-style: normal;
 } 

html {
	scroll-behavior: smooth;
}

* {
    padding: 0;
    margin: 0;
}

a {
    cursor: pointer;
    text-decoration: none;
    color: #ffffff;
}

li {
    list-style-type: none;
}

.cf:after {
    content: "";
    display: table;
    clear: both;
}

/*--------------header-------------------*/

/*-------------header-nav-------------*/
.header {
    font-family: 'Myriad Pro Regular';
    background: url('images/header.jpg');
    background-repeat: no-repeat;
    background-position: top center;
    height: 100vh;

    background-color: #353432;
}

.header-fluid {
    padding-right: 10%;
    padding-left: 10%;
}

#cs-icon {
    box-shadow: 12px 8px #cfcecd;
    margin: 15px auto;
}

#cs-icon {
    position: relative;
    float: left;
}

#cs-icon:focus,
#cs-icon:hover {
    transform: rotateX(360deg);
    transition: 2s;
}

.socials, .menu {
    position: relative;
    float: right;
    font-size: 20px;
}

.header-content {
    border-top: solid 1px #7f7f7f;
}

.collapsed {
    display: none;
}

.menu {
    display: flex;
    min-width: 55%;
    justify-content: space-around;
}

.menu li, .socials li {
    border-bottom: solid 5px rgba(64,98,127,0);
    display: block;
    padding: 38px 13px;
    margin: 0 8px 0 8px;
    box-sizing: border-box;
    flex-basis: 300px;
    white-space: nowrap;
    text-align: center;
}

#home {
    border-bottom: solid 5px #12759e;
}

.menu a:hover,
.menu a:focus,
.socials a:hover,
.socials a:focus  {
    color: #12759e;
}

.socials a {
    padding-right: 20px;
}

.socials {
    margin: 38px 20px;
    display: flex;
}

/*--------header-title----------*/

#title-upper {
    margin: 150px auto 0;
    text-align: center;
}

#title-lower {
    margin: 0 auto 10px;
    text-align: center;
}

#title-one h1 {
    font-family: 'Gotham Bold';
    text-transform: uppercase;
    font-size: 8em;
    color: #f4f4f4;
}

#title-lower p {
    font-family: 'Gotham Medium';
    text-transform: uppercase;
    font-size: 1.5em;
    color: #12759e;
    padding-left: 18px;
    letter-spacing: 1rem;
}

.scroll i:before {
    line-height: 4em;
    color: white;
    font-size: 23px;
    border: 2px solid white;
    padding: 24px;
    border-radius: 50%;
}

.scroll {
    margin-top: 10vh;
    text-align: center;
}

/*---------Header End---------*/

/*-----------About Us Start--------------*/

.about {
    height: 100vh;
    background-color: #12759e;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.top-about, .bot-about, .blogTop, .blogBot, .acts, .teamTop, .teamBot {
    width: 75%;
    display: flex;
    flex-basis: 30vh;
    justify-content: center;
    align-items: center;
}

.top-about {
    flex: 1.3;
}

.bot-about {
    flex: 2;
}

.top-about h1, .formTop h1 {
    font-family: "Roboto Bold";
    font-size: 247px;
    color: white;
    position: absolute;
    opacity: 0.18;
}

.top-about p, .blogTop h1 + p, .teamTop h1 + p, .formTop h1 + p {
    font-family: 'Gotham Medium';
    text-transform: uppercase;
    font-size: 38px;
}

.top-about p {
    color: white;
}

.bot-about ul {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 45px;
}

.bot-about ul li{
    height: 40vh;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.bot-about ul li a{
    background-color: rgba(255, 255, 255, 0.18);
    border-radius: 50%;
    padding: 40px;
}

.bot-about ul li h1{
    font-family: 'Gotham Medium';
    text-transform: uppercase;
    font-size: 18px;
}

.bot-about ul li p, .acts p {
    font-family: 'Gotham Book';
    font-size: 15px;  
}

.bot-about ul li > *{
    text-align: center;
}

/*------------About US End-----------*/

/*--------------News Start----------*/

.news {
    display: flex;
    flex-wrap: wrap;
}

[class^=block] {
    flex: 1 0 40%;
    overflow: hidden;
}

.block-content {
    margin: 15% 15% 20% 25%;
}

.block1, .block4 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.block-content h1, .descr p:first-child {
    font-family: "Gotham Medium";
    font-size: 25px;
    margin-top: 10px;
    text-transform: uppercase;
}

.block-content p:first-child {
    font-family: "Gotham Book";
    font-size: 13px;
}

.news-p, .descr p {
    font-family: "Gotham Book";
    font-size: 15px;
    margin-top: 40px;
}

.block1 {
    color: white;
    background-color: #353432;
}

.block4 {
    color: #353432;
    background-color: #f3f3f3;
}

/*--------------News End------------*/

/*--------------Blog Start----------*/

.blog, .ourTeam {
    height: 140vh;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

[class*=Top] h1 {
   font-family: "Roboto Bold";
   font-size: 247px;
   position: absolute;
   opacity: 0.18;
}

[class*=Top] {
    flex-direction: column;
}

[class*=Top] p {
    color: #262626;
}

[class*=Bot] {
    margin-bottom: 30px;
}

[class*=Bot] ul {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(4, minmax(20%, 1fr));
}

[class*=Bot] ul li {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.blogBot ul li p:last-of-type {
    color: #262626;
    text-align: center;
}

.blogBot ul li img {
    width: 100%;
    margin-bottom: 25px; 
}

.blogBotHead {
    text-align: center;
    font-family: "Gotham Medium";
    font-size: 18px;
    color: #12759e;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.slogan p{
    font-family: "Gotham Book";
    font-size: 30px;
}

/*--------------Blog End------------*/

/*--------------QA start-------------*/

.action {
    height: 40vh;
    background-color: #12759e;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.acts ul, .acts ul li, .features {
    display: flex;
    color: white;
}

.acts a {
   margin: 10px 30px;
}

/*--------------QA end-----------------*/

/*--------------Product Start-----------*/

.product {
    height: 120vh;
    width: 100%;
    background: url(images/5th.jpg);
    display: flex;
    justify-content: center;
}

.product-fluid {
    display: flex;
    width: 75vw;
    align-items: center;
    justify-content: space-between;
}

.features {
    flex-direction: column;
    width: 30vw;
}

.pros {
    margin-top: 50px;
}

.descr p {
    line-height: 1.5;
}

.pros p {
    text-transform: uppercase;
    padding: 10px 15px;
    margin-bottom: 25px;
    font-size: 15px;
    background-color: #12759e;
    font-family: "Gotham Medium";
    cursor: pointer;
}

#first {
    width: 70%;
}

#second {
    width: 80%;
}

#third {
    width: 90%;
}

.phone {
    width: 30vw;
}

.phone img {
    width: 100%;
}

/*--------------Products End-----------*/

/*--------------Team Start--------------*/

.ourTeam {
    height: 120vh;
}

.teamBot ul li img {
    width: 100%;
}

.teamBot .blogBotHead {
    padding: 15px 30px 8px;
    background: white;
    font-size: 20px;
    margin-bottom: 0;
    margin-top: -45px;
}

.teamBot p:last-child {
    font-family: "Gotham Medium"; 
    font-size: 15px;
}
/*--------------Team End----------------*/

/*--------------Form Start----------------*/

.form {
    height: 120vh;
    width: 100%;
    background: url('images/6th.jpg');
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.formTop {
    display: flex;
    justify-content: center;
    align-items: center;
}

.formTop h1 + p {
    color: white;
}

.formBot form {
    width: 75vw;
    display: grid;
    grid-template-columns: repeat(3, minmax(150px, 1fr));
    align-content: stretch;
    grid-gap: 30px;
}

.formBot {
    margin-bottom: 0;
}

.textarea {
    resize: none;
    grid-column: 1 / -1;
}

.submit {
    padding: 10px 50px;
    font-family: "Gotham Medium";
    font-size: 24px;
    grid-column: 2;
    background-color: #12759e;
    color: white;
    text-transform: uppercase;   
    border: none;
    justify-self: center;
}

[class^=text] {
    font-family: "Gotham Book";
    padding: 10px 18px;
    background: none;
    font-size: 15px;
    border: 1px solid white;
    color: white;   
}

[class^=text]:focus,
[class^=text]:hover {
    border: 1px solid #12759e;
}

/*--------------Form End----------------*/

iframe {
    width: 100%;
    height: 330px;
}

/*--------------Footer Start----------------*/

.footer {
    background: #222222;
    color: white;
    padding: 40px;
    display: flex;
    justify-content: center;
}

.footer-fl {
    width: 75vw;
    display:flex;
    justify-content: space-between;
    align-items: center;
}

.footer span {
    font-size: 13px;
}

/*--------------Footer End----------------*/

@media only screen and (max-width: 1170px) {

    .header-fluid {
        padding-right: 7%;
        padding-left: 7%;
    }

    .menu {
        min-width: 70%;
    }

    .menu li {
        padding: 38px 5px;
    }

    .teamBot .blogBotHead {
        font-size: 18px;
        padding: 15px 20px 8px;
    }

    .scroll {
        margin-top: 5vh;
    }
}

@media only screen and (max-width: 1050px) {

    .header-fluid {
        padding-right: 5%;
        padding-left: 5%;
    }

    .menu {
        min-width: 35%;
    }

    .bot-about ul li h1{
        font-size: 15px;
    }

    .blogBot p:last-child {
        font-size: 15px;
    }

    .acts a {
        margin: auto 30px;
    }

    .pros p, .bot-about ul li p, .acts p {
        font-size: 13px;
    }

    .teamBot {
        font-size: 16px;
        padding: 15px 10px 8px;
    }

    .blogBotHead {
        font-size: 16px;
    }

    .scroll {
        margin-top: 10vh;
    }

    .formTop h1 + p, .top-about p {
        font-size: 30px;
    }

    [class*=Top] h1, .top-about h1 {
        font-size: 180px;
    }

    .slogan p{
        font-size: 28px;
    }
}

@media only screen and (max-width: 950px) {

    .header-fluid {
        padding-right: 2%;
        padding-left: 2%;
    }

    .socials  {
        margin: 25px 20px;
        flex-wrap: wrap;
    }

    .socials a {
        padding-right: 0;
        flex: 1 1 50%;
    }

    #title-one h1 {
        font-size: 5em;
    }
    
    #title-lower p {
        font-size: 1em;
        letter-spacing: 0.5rem;
    }

    .scroll {
        margin-top: 20vh;
        transform: scale(0.85);
    }

    .news-p {
        font-size: 13px;
    }
    
    .pros p, .bot-about ul li p, .acts p {
        font-size: 11px;
    }

    .teamBot, .blogBotHead {
        font-size: 13px;
    }

    .blogBot p:last-child {
        font-size: 13px;
    }

    .submit {
        font-size: 20px;
    }
}

@media only screen and (max-width: 800px) {

    .menu li {
        padding: 18px 5px;
    }

    .socials {
        margin: 10px 0 5px;
        flex-wrap: nowrap;
    }

    .socials a {
        padding-right: 20px;
        flex: 100%;
    }

    #title-one h1 {
        font-size: 4em;
    }
    
    #title-lower p {
        font-size: 0.9em;
        letter-spacing: 0.4rem;
        padding-left: 10px;
    }

    .scroll {
        margin-top: 25vh;
    }

    .formTop h1 + p, .top-about p, .blogTop h1 + p {
        font-size: 24px;
    }

    .slogan p{
        font-size: 20px;
    }
    
}

@media only screen and (max-width: 690px) {

    .header {
        background: url('images/header-resp.jpg');
        background-repeat: no-repeat;
        background-position: top center;
    }

    .menu {
        display: none;
    }

    .socials {
        width: 60%;
        margin: 32px 5px;
        flex-wrap: wrap;
        align-items: center;
        height: 40px;
    }

    .socials a {
        text-align: center;
        padding-right: 0;
        flex-basis: 25%;
    }

    .collapsed { 
        display: block;
        margin: 38px 15px 38px 0;
        float: right;
    }

    .collapsed i {
        color: white;
        font-size: 1.7em;
    }

    .collapsed input {
        display: none;
    }

    #title-one h1 {
        font-size: 3.5em;
    }
    
    #title-lower p {
        font-size: 0.75em;
        letter-spacing: 0.35rem;
    }

    .scroll {
        transform: scale(0.7);
    }

    .about {
        height: 100vh;
    }
    .bot-about ul {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 20px;
    }
    
    .bot-about ul li{
        height: 20vh;
    }
    
    .bot-about ul li a{
        border-radius: 50%;
        padding: 20px;
    }
    
}

@media only screen and (max-width: 480px) {

    

}